.detailContainer {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.detailContainer h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.detailContainer img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 15px;
}

.detailContainer p {
  font-size: 16px;
  line-height: 1.5;
  margin: 5px 0;
  color: #555;
}

.estateImg{
    width:839px;
    height: 626px;
    border-radius: 10px;
}

.estateDetails{
    display: flex;
    
}

.backArrow{
    text-decoration: none;
    color: black;
   
}

.priceDetails{
    margin-left: 66px;
    width: 503px;
    height: 714px;
}

.price{
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
}

.greyText{
    font-size: 24px;
    color: #808A93;
    font-weight: 400;
    line-height: 28.8px;
}
.descriptionText{
    width: 503px;
    height: 78px;
    border: 1px solid black;
}

.agentDetails{
    width: 503px;
    height: 78px;
    border: 1px solid black;
    margin-top: 48px;
}

.deleteBtn{
    margin-top: 20px;
    width: 131px;
    height: 34px;
    border: 2px solid #676E76;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    color: #676E76;
    background-color: white;
}