.homeContainer {
    margin: 0 auto;
    width: 82.5%;
    padding-top: 30px;
    border: 5px solid black;
    background-color: red;
    height: 100px;
  }

.logo {
  margin-top: 30px;
   
  
}

.homeLogo{
  background: url('../img/logo.png');
  background-position: cover;
  background-repeat: no-repeat;
   margin-left: 164px;
   
 
}
  
.line {
    border: 1px solid grey;
    width: 100%;
    margin-top: 36px;
    margin-bottom: 77px;
  }
  